#game_frame {
    width: 800px;
    height: 500px !important;
}

#kch {
    margin: auto;
    padding: 0;
    width: 800px;
    text-align: left;
    background-color: #eeeeee;
}

.kch_deck ul {
    list-style: none;
    padding: 0;
    margin: 0;
}

.kch_deck li {
    display: flex;
    height: 27px;
    border-bottom: 1px solid #999999;
}

.kch_deck li:last-child {
    border-bottom: 0;
}

.kch_deck li.damage-zero { }
.kch_deck li.damage-small { background-color: cornsilk; }
.kch_deck li.damage-medium { background-color: darksalmon; }
.kch_deck li.damage-large { background-color: darkred; color: #cccccc; }

.kch_deck li > div {
    margin: 0 2px;
    font-size: x-small;
    flex: none;
}

.kch_deck .lv { width: 50px; font-size: large; text-align: right; }
.kch_deck .name { width: 150px; font-size: large; }
.kch_deck .hp { width: 65px; font-size: large; text-align: right; }
.kch_deck .hp:after { content: "/" attr(data-max-hp); color: #666666; font-size: small; }
.kch_deck li.damage-large .hp:after { color: #999999; }
.kch_deck .cond:before { content: "cond:"; font-size: xx-small; }
.kch_deck .cond { width: 55px; font-size: large; }
.kch_deck .slots { padding-left: 6px; display: flex; flex: auto; }
.kch_deck .slots .slotitem { font-size: large; width: 100%; overflow: hidden; padding-left: 4px; }

